aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps
echoicebox.pc
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*~
eshutdown
eshutdown.edj
.gitignore
tags
